USE [master]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CursoSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CursoSQL]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 22/12/2019 09:03:05 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 22/12/2019 09:03:05 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[CodigoPais] [nvarchar](20) NULL,
	[Distrito] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/12/2019 09:03:05 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[CiudadId] [int] NULL,
	[Telefono] [nvarchar](50) NULL,
	[Direccion] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 22/12/2019 09:03:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[ClienteId] [int] NOT NULL,
	[Fecha] [date] NULL,
	[Detalle] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 22/12/2019 09:03:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[Codigo] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[NombreLocal] [nvarchar](100) NULL,
	[Iso] [nvarchar](20) NULL,
	[Iso3] [nvarchar](20) NULL,
	[Continente] [nvarchar](100) NULL,
	[Region] [nvarchar](50) NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaisesIdioma]    Script Date: 22/12/2019 09:03:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaisesIdioma](
	[PaisCodigo] [char](3) NOT NULL,
	[PaisIdioma] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisCodigo] ASC,
	[PaisIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 22/12/2019 09:03:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[ProveedorId] [int] NULL,
	[Costo] [decimal](18, 2) NULL,
	[Precio] [decimal](18, 2) NULL,
	[CategoriaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 22/12/2019 09:03:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (1, N'Bebidas')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (2, N'Condimentos')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (3, N'Frutas/Verduras')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
INSERT [dbo].[Ciudades] ([Id], [Nombre], [CodigoPais], [Distrito]) VALUES (1, N'Kabul                              ', N'AFG', N'Kabol               ')
INSERT [dbo].[Ciudades] ([Id], [Nombre], [CodigoPais], [Distrito]) VALUES (2, N'Qandahar                           ', N'AFG', N'Qandahar            ')
INSERT [dbo].[Ciudades] ([Id], [Nombre], [CodigoPais], [Distrito]) VALUES (3, N'Herat                              ', N'AFG', N'Herat               ')
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [FechaNacimiento], [CiudadId], [Telefono], [Direccion]) VALUES (1, N'Herrod', N'Guerra', CAST(N'1933-10-27' AS Date), 2771, N'502-6307', N'577-2571 Dui. Rd.')
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [FechaNacimiento], [CiudadId], [Telefono], [Direccion]) VALUES (2, N'Micah', N'Cardenas', CAST(N'1960-11-23' AS Date), 125, N'666-9725', N'P.O. Box 160, 9095 Mi Street')
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [FechaNacimiento], [CiudadId], [Telefono], [Direccion]) VALUES (3, N'Kenneth', N'Curry', CAST(N'1975-03-21' AS Date), 1931, N'1-936-857-7924', N'5657 Magna. Street')
GO
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Ordenes] ON 

INSERT [dbo].[Ordenes] ([Id], [ProductoId], [Cantidad], [ClienteId], [Fecha], [Detalle]) VALUES (1, 51, 4, 115, CAST(N'2018-10-06' AS Date), NULL)
INSERT [dbo].[Ordenes] ([Id], [ProductoId], [Cantidad], [ClienteId], [Fecha], [Detalle]) VALUES (2, 12, 1, 67, CAST(N'2017-02-01' AS Date), NULL)
INSERT [dbo].[Ordenes] ([Id], [ProductoId], [Cantidad], [ClienteId], [Fecha], [Detalle]) VALUES (3, 33, 5, 4, CAST(N'2019-08-25' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Ordenes] OFF
INSERT [dbo].[Paises] ([Codigo], [Nombre], [NombreLocal], [Iso], [Iso3], [Continente], [Region]) VALUES (N'ABW', N'Aruba                                               ', N'Aruba', N'AW', N'ABW', N'North America', N'Caribbean')
INSERT [dbo].[Paises] ([Codigo], [Nombre], [NombreLocal], [Iso], [Iso3], [Continente], [Region]) VALUES (N'AFG', N'Afghanistan                                         ', N'Afganistan/Afqanestan', N'AF', N'AFG', N'Asia', N'Southern and Central Asia')
INSERT [dbo].[Paises] ([Codigo], [Nombre], [NombreLocal], [Iso], [Iso3], [Continente], [Region]) VALUES (N'AGO', N'Angola                                              ', N'Angola', N'AO', N'AGO', N'Africa', N'Central Africa')
GO
INSERT [dbo].[PaisesIdioma] ([PaisCodigo], [PaisIdioma]) VALUES (N'ABW', N'Dutch                         ')
INSERT [dbo].[PaisesIdioma] ([PaisCodigo], [PaisIdioma]) VALUES (N'ABW', N'English                       ')
INSERT [dbo].[PaisesIdioma] ([PaisCodigo], [PaisIdioma]) VALUES (N'ABW', N'Papiamento                    ')
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [ProveedorId], [Costo], [Precio], [CategoriaId]) VALUES (1, N'Té Dharamsala', 1, CAST(12.86 AS Decimal(18, 2)), CAST(18.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [ProveedorId], [Costo], [Precio], [CategoriaId]) VALUES (2, N'Cerveza tibetana Barley', 1, CAST(13.57 AS Decimal(18, 2)), CAST(19.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [ProveedorId], [Costo], [Precio], [CategoriaId]) VALUES (3, N'Sirope de regaliz', 1, CAST(7.14 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id], [Nombre]) VALUES (1, N'Exotic Liquids')
INSERT [dbo].[Proveedores] ([Id], [Nombre]) VALUES (2, N'New Orleans Cajun Delights')
INSERT [dbo].[Proveedores] ([Id], [Nombre]) VALUES (3, N'Grandma Kelly Homestead')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
ALTER TABLE [dbo].[PaisesIdioma] ADD  DEFAULT ('') FOR [PaisCodigo]
GO
ALTER TABLE [dbo].[PaisesIdioma] ADD  DEFAULT ('') FOR [PaisIdioma]
GO
USE [master]
GO
